


<div class="container text-center">
  
    <div class="w-full flex flex-row items-center justify-between my-3 gap-4">
      <h3 class="text-md shadow-blue-700" >Sprints</h3>
      <button type="button" class="btn btn-primary items-center justify-center" (click)="abrirModal()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
      </button>
    </div>
    <div class="flex items-center justify-center flex-col">
      <div *ngIf="list.length === 0">Carregando dados...</div>
      <table class="table table-striped-columns table-group-divider table-bordered shadow-stone-900 border-gray-800 shadow-md">
          <tbody class="text-sm ">
            <tr class=" " >
              <th class=" text-start" scope="row">SISTEMA</th>
              <th class="text-center" scope="row">PF</th>
              <th class="text-center" scope="row">VALIDADO</th>
              <th class="text-center" scope="row">DE ACORDO</th>
              <th class="text-center" scope="row">PERIODO INICIAL</th>
              <th class="text-center" scope="row">PERIODO FINAL</th>
              <th class="text-center" scope="row">OBSERVAÇÃO</th>
              <th class="text-center" scope="row">AÇÕES</th>
            </tr>
            <tr class="" *ngFor="let item of list">
              <td class="w-[35%] text-start">{{item.sistema}} - SPRINT #{{item.sprint}}</td>
              <td class="w-[5%] text-center">{{item.pf}}</td>
              <td class="w-[10%] text-center">{{item.validacao}}</td>
              <td class=" text-center">{{item.dada_acordo}}</td>
              <td class=" text-center">{{item.p_inicial}}</td>
              <td class=" text-center">{{item.p_final}}</td>
              <td class="w-[20%] text-start">{{item.obs}}</td>
              
              <td class="">
                  <div class="flex items-center justify-center gap-2">
                      <button type="button" class="btn btn-warning btn-sm">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                            </svg>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                      </button>
                  </div>
              </td>
            </tr>
            
          </tbody>
      </table>
    </div>

  </div>


<!-- Modal -->
<div class="modal fade " id="meuModal" tabindex="-1" aria-hidden="true" #modalElement>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content ">

      <div class="modal-header">
        <h5 class="modal-title text-2xl">INCLUIR NOVA SPRINT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        <form class="grid grid-rows-3 gap-3 mb-2 text-sm">

          <div class="flex flex-row gap-4 w-full">
            <div class="form-group w-full">

              <label for="nSistema">Sistema</label>
              <select name="sistema" [(ngModel)]="sistemaSelecionado" class="form-select" id="nSistema" >
                <option selected value="">Escolha o Sistema</option>
                <option *ngFor="let sistema of lista_sistemas" value={{sistema}}>{{sistema}}</option>
              </select>
              
            </div>
            <div class="form-group w-full">
              <label for="nSprint">Sprint Nº</label>
              <input name="sprint" [(ngModel)]="sprintSelecionada" type="number" class="form-control" id="nSprint" placeholder="Número da Sprint">
            </div>
            <div class="form-group w-full ">
              <label for="nPf">Quantidade PF</label>
              <input name="pf" [(ngModel)]="pfSelecionado" type="number" class="form-control" id="nPf" placeholder="Quantidade de PF">
            </div>
          </div>

          <div class="flex flex-row gap-4">
            <div class="form-group w-full">
              <label for="nVal">Validação</label>
              <select name="validacao" [(ngModel)]="validacaoSelecionada"  class="form-select" id="nVal">
                <option selected value="">Escolha o status da validação</option>
                <option *ngFor="let status of lista_status_pf" value={{status}}>{{status}}</option>
              </select>
            </div>
            <div class="form-group w-full" >
              <label for="nStatus">Status da evidência</label>
              <select name="statusEvidencia" [(ngModel)]="statusEvidenciaSelecionado" class="form-select" id="nStatus">
                <option selected value="">Escolha o status da evidência</option>
                <option value="OK">OK</option>
                <option value="PENDENTE">PENDENTE</option>
              </select>
            </div>
          </div>

          <!--DATAS-->
          <div class="flex flex-row gap-4">
            <div class="form-group w-full" >
              <label for="nData">Data de Acordo</label>
              <input name="acordo" [(ngModel)]="acordoSelecionado" type="date" class="form-control" id="nData" placeholder="Data dado o Acordo">
            </div>
            <div class="form-group w-full">
              <label for="nIni">Período Inicial</label>
              <input name="inicial" [(ngModel)]="inicialSelecionado" type="date" class="form-control" id="nIni" placeholder="Data inicial da sprint">
            </div>
            <div class="form-group w-full" >
              <label for="nFim">Período Final</label>
              <input name="final" [(ngModel)]="finalSelecionado" type="date" class="form-control" id="nFim" placeholder="Data final da sprint">
            </div>
          </div>

          <!--BOTÃO ENVIAR-->
          <div>
            <div class="form-group w-full h-24">
              <label for="nObs">Observação</label>
              <textarea name="obs" [(ngModel)]="obsSelecionada" class="form-control h-16" id="nObs" placeholder="Insira as observações"></textarea>
            </div>
          </div>
        </form>

        <div class="w-full flex items-center justify-end">
          <button (click)="postData()" class="btn btn-primary w-36">Gravar</button>
        </div>

      </div>
    </div>
  </div>
</div>
  

 
