


<div class="flex flex-row jumbotron w-full items-center justify-center border-b-1 border-zinc-300 mb-4">

    <div class="w-[30%] mx-4 pt-4 pb-2 border-r-1 border-zinc-300">
        <h1 class="display-6">Evidence Manager</h1>
        <p class="lead pl-1">Sistema de gestão de sprints - SEFIN</p>
    </div>
    
    <nav class="w-[70%] flex items-center justify-start pl-10">
        <ul class="flex flex-row pt-4 gap-4 lead" *ngFor="let name of headerMenu" >
            <li routerLink={{name.route}} class="cursor-pointer ease-in duration-200 border-1 border-zinc-300 text-black hover:bg-zinc-300 rounded-xl p-2 px-3">
                {{name.name}}
            </li>
        </ul>
    </nav>
</div>


