

<div class="overflow-hidden flex flex-row h-screen w-screen">
    
    <div class=" bg-gray-800 text-white p-2 w-64 transform lg:translate-x-0 transition-transform duration-300 z-40">
        <div class="flex flex-row justify-between w-full mb-2 p-3">
            <h2 class="text-2xl font-bold cursor-pointer" routerLink=''>Menu</h2>
            <button class="p-2 bg-gray-800 text-white rounded mb-4"> ☰ </button>
        </div>

        <ul class="space-y-1" *ngFor="let item of headerMenu">
            <li routerLink={{item.route}} class="cursor-pointer w-full ease-in duration-200 text-white hover:bg-zinc-600 rounded-xl p-2">
                <div class="flex items-center justify-start gap-4">
                    <mat-icon fontIcon={{item.icon}}></mat-icon>
                    {{item.name}}
                </div>
            </li>
        </ul>
    </div>


    <div class="flex flex-col flex-1 h-full bg-gray-100">
        <div class="h-16 bg-gray-800 border-b border-gray-800 flex items-center justify-center">
            <h1 class="text-sm text-center text-white p-2 lead">{{tituloDescricao}}</h1>
        </div>

        <div class="flex-1 overflow-auto p-4">
            <router-outlet />
        </div>
    </div>

</div>

