/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/*

body {
    background-image: url("/homeback4.jpg");
    background-position: center; Center the image
    background-repeat: no-repeat; 
    background-size: auto; 
}  
    
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
